@import 'jeet'
@import 'rupture'

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700|Slabo+27px')

$color1 = #E8D0A9
$color2 = #B7AFA3
$color3 = #C1DAD6
$color4 = #F5FAFA
$color5 = #ACD1E9
$color6 = #6D929B

html
	font-family 'Slabo 27px', serif

body
	background $color5
	

@import 'components/commit'
@import 'components/repo'
@import 'components/repoInfo'
@import 'components/user'








