@import 'jeet'
@import 'rupture'

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700|Slabo+27px')

$color1 = saturate(#E8D0A9, 100)
$color2 = saturate(#B7AFA3, 100)
$color3 = saturate(#C1DAD6, 100)
$color4 = saturate(#F5FAFA, 100)
$color5 = saturate(#ACD1E9, 100)
$color6 = saturate(#6D929B, 100)

html
	font-family 'Slabo 27px', serif

body
	background $color5
	

@import 'components/header'
@import 'components/repo'
@import 'components/repoInfo'
@import 'components/commit'
@import 'components/user'







