@import 'rupture'

.commit
	position relative
	width 33%
	padding 1em
	margin-bottom 1.25em
	box-shadow 2px 5px 5px #333
	background white
	font-size 1rem
	border 2px solid #111
	> strong
		display block
		text-decoration underline
	> span
		position absolute
		right 1em
		bottom 1em