.footer 
	z-index 2
	position fixed
	bottom 0
	left 0
	width 100%
	background-color rgba(lighten($color5, 90%), 0.95)
	font-size 1.25em
	font-family 'Open Sans'
	.widgetToggle, label
		float left
		margin 1.5em
		&:hover
			cursor pointer
		i 
			display inline-block
			margin-right 0.5em
