.header
	position fixed
	width 100%
	height 10.95em
	top 0
	left 0
	z-index 1
	box-shadow none	
	background-color $color1
	border-bottom 0.15em solid #11
	transition all 0.2s ease-in 
	&--arching
		box-shadow 5px 5px 5px rgba(black, 0.2)
	&[data-shade="0"], &[data-shade=1]
		background-color $color1
	&[data-shade="2"]
		background-color lighten($color1, 20%)
	&[data-shade="3"]
		background-color lighten($color1, 40%)
	&[data-shade="4"]
		background-color lighten($color1, 60%)
	&[data-shade="5"]
		background-color lighten($color1, 80%)
	&[data-shade="6"]
		background-color white