.repoInfo
	z-index 1
	position fixed
	box-sizing border-box
	col(1/4, gutter:1)
	+above(100em)
		col(1/5, gutter:1)
	background-color transparent
	padding-left 1em
	min-height 10.45em
	overflow hidden
	border-bottom-right-radius 0em
	border-bottom-left-radius 0em
	border-bottom 0
	transition background-color 0.5s linear
	> img
		width 4.5em
		position absolute
		left -0.25em
		top 0
		border-top-right-radius 2em
		border-bottom-right-radius 2em
	> h2
		margin-top 0.2em
		margin-left 2em
		font-size 2.3rem
		padding-bottom 0
		margin-bottom 0
	> span
		display inline-block
		margin-top -0.2em
		margin-left 5em
		margin-bottom 0.4em
		font-size 1em
		font-weight bold
		font-style italic
		color darken($color4, 80%)
		font-family 'Open Sans'
	> ul
		margin 0.75em 0 0 -0.5em
		padding 0
		font-family 'Open Sans'
		font-size 0.9em
		color #111
		list-style-type none
		> li
			padding 0
			width 100%
			text-align left
		