_getTranslateX(a,b)
	{(a * b + 5) %}

.repo
	position absolute
	col(1/4, gutter:1)
	+above(100em)
		col(1/5, gutter:1)
	display block
	min-height 100%
	transition all 1s ease-out
	for i in (1..50)
		&:nth-of-type({i})
			transform translateX(_getTranslateX(i - 1, 105))