.user
	display block
	width 100%
	font-size 1rem
	height auto
	img
		float left
		width 2.5em
		height auto
		border-radius 2.5em
		border 0.2em solid darken($color5, 85%)
	strong
		float left
		display inline-block
		height auto
		padding-left 0.5em
		font-size 1.8em
		line-height 1.5em
		color black