.widgets
	position fixed
	width 100%
	bottom 5.4em
	left 0
	

.widget
	col(4/10)
	position absolute
	bottom 0
	min-height 4em
	padding 0.25em 1em
	box-sizing padding-box
	background-color rgba(darken(complement($color1), 50), 0.95)
	color white
	transition all 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	&:nth-child(odd)
		padding-left 10%
		left -7.5%
		&.widget--hidden
			left -67.5%
	&:nth-child(even)
		right -7.5%
		padding-right 10%
		padding-left 2.5em
		&.widget--hidden
			right -67.5%
	h2
		font-family 'Open Sans'
		text-transform uppercase		
	&--topCommitters, &--topRepos
		&__entry
			position relative
			float left
			display inline-block
			width 50%
			padding-left 3.5em
			box-sizing border-box
			min-height 6em
			> label
				position absolute
				top 0
				left 0
				font-size 2.5em
				&:before
					content '#'
			> span
				display block
				float left
				width 70%
				line-height 0.6em
				padding-left 1em
				